<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-add" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel beauty_centers add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Back to list</button>
	{END message_back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>View</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Edit</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_name}  r-vertical-field" 
	data-signal-error-for="name{$id}" {$required_attr_name}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="name" data-fieldname="name" >

	<label class="r-edit-label control-label" for="{$labelfor_name}">
		{BEGIN name_label}{$label beauty_centers name }{END name_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$name_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="name" {$tooltipAttr beauty_centers name } >
		<div class="text-muted" >
		{$tooltip beauty_centers name }		</div>
	</div>
</div>


{END name_fieldblock}
											
{BEGIN description_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_description}  r-vertical-field" 
	data-signal-error-for="description{$id}" {$required_attr_description}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="description" data-fieldname="description" >

	<label class="r-edit-label control-label" for="{$labelfor_description}">
		{BEGIN description_label}{$label beauty_centers description }{END description_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$description_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="description" {$tooltipAttr beauty_centers description } >
		<div class="text-muted" >
		{$tooltip beauty_centers description }		</div>
	</div>
</div>


{END description_fieldblock}
											
{BEGIN address_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_address}  r-vertical-field" 
	data-signal-error-for="address{$id}" {$required_attr_address}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="address" data-fieldname="address" >

	<label class="r-edit-label control-label" for="{$labelfor_address}">
		{BEGIN address_label}{$label beauty_centers address }{END address_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$address_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="address" {$tooltipAttr beauty_centers address } >
		<div class="text-muted" >
		{$tooltip beauty_centers address }		</div>
	</div>
</div>


{END address_fieldblock}
											
{BEGIN city_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_city}  r-vertical-field" 
	data-signal-error-for="city{$id}" {$required_attr_city}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="city" data-fieldname="city" >

	<label class="r-edit-label control-label" for="{$labelfor_city}">
		{BEGIN city_label}{$label beauty_centers city }{END city_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$city_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="city" {$tooltipAttr beauty_centers city } >
		<div class="text-muted" >
		{$tooltip beauty_centers city }		</div>
	</div>
</div>


{END city_fieldblock}
											
{BEGIN postal_code_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_postal_code}  r-vertical-field" 
	data-signal-error-for="postal_code{$id}" {$required_attr_postal_code}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="postal_code" data-fieldname="postal_code" >

	<label class="r-edit-label control-label" for="{$labelfor_postal_code}">
		{BEGIN postal_code_label}{$label beauty_centers postal_code }{END postal_code_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$postal_code_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="postal_code" {$tooltipAttr beauty_centers postal_code } >
		<div class="text-muted" >
		{$tooltip beauty_centers postal_code }		</div>
	</div>
</div>


{END postal_code_fieldblock}
											
{BEGIN latitude_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_latitude}  r-vertical-field" 
	data-signal-error-for="latitude{$id}" {$required_attr_latitude}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="latitude" data-fieldname="latitude" >

	<label class="r-edit-label control-label" for="{$labelfor_latitude}">
		{BEGIN latitude_label}{$label beauty_centers latitude }{END latitude_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$latitude_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="latitude" {$tooltipAttr beauty_centers latitude } >
		<div class="text-muted" >
		{$tooltip beauty_centers latitude }		</div>
	</div>
</div>


{END latitude_fieldblock}
											
{BEGIN longitude_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_longitude}  r-vertical-field" 
	data-signal-error-for="longitude{$id}" {$required_attr_longitude}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="longitude" data-fieldname="longitude" >

	<label class="r-edit-label control-label" for="{$labelfor_longitude}">
		{BEGIN longitude_label}{$label beauty_centers longitude }{END longitude_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$longitude_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="longitude" {$tooltipAttr beauty_centers longitude } >
		<div class="text-muted" >
		{$tooltip beauty_centers longitude }		</div>
	</div>
</div>


{END longitude_fieldblock}
											
{BEGIN average_rating_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_average_rating}  r-vertical-field" 
	data-signal-error-for="average_rating{$id}" {$required_attr_average_rating}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="average_rating" data-fieldname="average_rating" >

	<label class="r-edit-label control-label" for="{$labelfor_average_rating}">
		{BEGIN average_rating_label}{$label beauty_centers average_rating }{END average_rating_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$average_rating_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="average_rating" {$tooltipAttr beauty_centers average_rating } >
		<div class="text-muted" >
		{$tooltip beauty_centers average_rating }		</div>
	</div>
</div>


{END average_rating_fieldblock}
											
{BEGIN manager_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_manager_id}  r-vertical-field" 
	data-signal-error-for="manager_id{$id}" {$required_attr_manager_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="manager_id" data-fieldname="manager_id" >

	<label class="r-edit-label control-label" for="{$labelfor_manager_id}">
		{BEGIN manager_id_label}{$label beauty_centers manager_id }{END manager_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$manager_id_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="manager_id" {$tooltipAttr beauty_centers manager_id } >
		<div class="text-muted" >
		{$tooltip beauty_centers manager_id }		</div>
	</div>
</div>


{END manager_id_fieldblock}
											
{BEGIN disponibilite_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_disponibilite}  r-vertical-field" 
	data-signal-error-for="disponibilite{$id}" {$required_attr_disponibilite}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="disponibilite" data-fieldname="disponibilite" >

	<label class="r-edit-label control-label" for="{$labelfor_disponibilite}">
		{BEGIN disponibilite_label}{$label beauty_centers disponibilite }{END disponibilite_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$disponibilite_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="disponibilite" {$tooltipAttr beauty_centers disponibilite } >
		<div class="text-muted" >
		{$tooltip beauty_centers disponibilite }		</div>
	</div>
</div>


{END disponibilite_fieldblock}
											
{BEGIN created_at_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_created_at}  r-vertical-field" 
	data-signal-error-for="created_at{$id}" {$required_attr_created_at}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="created_at" data-fieldname="created_at" >

	<label class="r-edit-label control-label" for="{$labelfor_created_at}">
		{BEGIN created_at_label}{$label beauty_centers created_at }{END created_at_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$created_at_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="created_at" {$tooltipAttr beauty_centers created_at } >
		<div class="text-muted" >
		{$tooltip beauty_centers created_at }		</div>
	</div>
</div>


{END created_at_fieldblock}
											
{BEGIN updated_at_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_updated_at}  r-vertical-field" 
	data-signal-error-for="updated_at{$id}" {$required_attr_updated_at}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="updated_at" data-fieldname="updated_at" >

	<label class="r-edit-label control-label" for="{$labelfor_updated_at}">
		{BEGIN updated_at_label}{$label beauty_centers updated_at }{END updated_at_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$updated_at_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="updated_at" {$tooltipAttr beauty_centers updated_at } >
		<div class="text-muted" >
		{$tooltip beauty_centers updated_at }		</div>
	</div>
</div>


{END updated_at_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Save			</a>
</span>
	 
		<span data-itemtype="add_reset" data-itemid="add_reset" {$item_add_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="resetButton{$id}" >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
